/* navbar */

body{
    padding: 0;
    margin: 0;
    background-color: #efeff5;
}

.navbar{
    background-color: #b3ffcc; 
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid #6ed390;
    position:sticky;
    top: 0;
}

.logo-img-container{
    /* background-color: aquamarine; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    height: 80px;

}

.menu-container{
    /* background-color: aquamarine; */
    width: 510px;
}

.menu{
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}

.shopping-icon-container{
    /* background-color: rgb(127, 180, 255); */
    margin-left: 400px;
    display: flex;


}

.shopping-cart-img{
    height: 20px;
    margin: 10px;
   
   
}

.btn{
    background-color:#6699ff;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    border: 2px solid #004de6;
    
}

.btn:hover{
    background-color: #1a66ff;
    color: white;
    transition: 0.5s;
}

/* body section */

.head-img{
     position: relative;
    height: 400px;
    width: 100%;
    filter: blur(1px);
  -webkit-filter: blur(3px);
}


.head-image-heading{
    position: absolute;
    top:140px;
    right:390px;
    color: white;
    font-size: 80px;
    box-shadow: 0 0 5px 5px yellowgreen;
}



.head-img-child-2{
    position: absolute;
    bottom:140px;
    right:200px;
    font-size: 80px;
    height: 160px;
    left: 50px;
    border-radius: 20px;
   
}


/* top feature product section */

.feature-product-main-container{
    background: #6699ff;
    height: 400px;
}


.feature-product-heading{
    text-align: center;
    background-color: antiquewhite;
}




