body {
    margin: 0;
    padding: 0;
    background-color: #f3eeee;
}

.Design-fonts {
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.children {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 247, 247);
    box-shadow: 3px 10px 15px 4px gray;
    padding: 30px 250px 30px 250px;
    margin: 80px 0px 80px 0px;

}

.icon {
    border-radius: 50%;

}

.icon:hover {
    box-shadow: 0px 0px 20px 3px rgb(164, 164, 164);
    transition: 0.5s;

}

.btn-2{
    border:  none;
    text-underline-offset:   250px;
    background-color: white;
    color: black;
    margin-left: 2px;
    border-radius: 100%;

}

/* <!-- this card categories design Section --> */
.children-2 {
    display: inline-block;
    text-align: center;
    margin: 60px 26px;
    padding: 25px 10px;
}

.children-2:hover {
    border-radius: 15px;
    box-shadow: 1px 1px 15px 4px rgb(164, 164, 164);
    transition: 0.5s;
}

.See-more {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 10x;
    border: none;
    width: 100px;
}

.See-more:hover {
    border-radius: 15px;
    box-shadow: 1px 1px 15px 4px rgb(164, 164, 164);
    transition: 0.5s;
}

/* laptop page */

.children-3 {
    display: inline-block;
    width: 280px;
    margin: 60px 28px;
    padding: 25px 20px;
}

.children-3:hover {
    border-radius: 15px;
    box-shadow: 1px 1px 15px 4px rgb(164, 164, 164);
    transition: 0.5s;
}